@import "../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

//Plugins
@import "./src/js/plugins/waves/waves";

//Custom css

.mobilemenutrigger {
  display: none;
  @include  media-breakpoint-down(sm) {
    display: inline-block;
  }
  @media screen and (orientation: landscape) and (max-width: 832px) {
    display: inline-block;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  .logo-wrap {
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
.menu-wrapper {
    background-color: $white;
    @include transition();
    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 56px;
      left: 0;
      height: 100vh;
      width: 0px;
    }
    ul.navbar-nav {
      margin: 0;
      padding: 0;
      @include media-breakpoint-down(sm) {
        height: calc(100vh - 56px);
        overflow: hidden;
        overflow-y: auto;
        overflow-wrap: normal;
      }
      .nav-item {
        //background-color: $gray-200;
        position: relative;
        @include transition();
        @include media-breakpoint-down(sm) {
          border-top: 1px solid $gray-100;
        }
        &:hover {
          background-color: $gray-100;
          .nav-link {
            color: $dark;
          }
          .dropmenu {
            &::before {
              top: 16px;
              right: 10px;
              transform: rotate(90deg);
            }
          }
        }
        .nav-link {
          padding: 10px 20px;
          display: block;
          color: $dark;
        }
      }
      .mobile-menu-header {
        min-height: 65px;
      }
      ul.submenu {
        @include box-shadow($box-shadow);
        background-color: $gray-200;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: none;
        @include media-breakpoint-up(md) {
          background-color: $white;
          position: absolute;
          top: 54px;
          right: 0;
          box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.15);
        }
        li {
          padding: 10px 20px;
          @include transition();
          &:hover {
            background-color: lighten($success, 5%);
            a {
              color: $white;
            }
          }
          a {
            @include transition();
            padding: 10px 20px;
            text-decoration: none;
            color: lighten($dark, 5%);
          }
        }
        .active {
          background-color: lighten($success, 5%);
          a {
            color: $white;
          }
        }
      }
    }
    .logo-close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      background-color: $success;
      position: fixed;
      width: 100%;
      z-index: 1;
      box-shadow: 0 0 20px 0px #808080, 0 0 5px 2px rgba(255, 255, 255, 0.1412);
      a {
        text-decoration: none;
        @include transition();
        font-size: 22px;
        color: $white;
      }
      .closemenu {
        background-color: darken($success, 10%);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        @include transition();
        &:hover {
          border-radius: 50%;
        }
        .iconify {
          color: $white;
        }
      }
    }

  @media screen and (orientation: landscape) and (max-width: 832px) {
    display: none;
  }
}



// Optional css , can be removed if not required. below mentioned css is only used for user interface available for demo purpose.

.view-components {
  background-color: $white;
  padding: 50px 0;
  .component-box {
    margin-bottom: 30px;
    @include box-shadow($box-shadow-sm);
    @include transition();
    &:hover {
      @include box-shadow($box-shadow);
      .cb-content .bell {
        transform: rotateY(360deg);
      }
    }
    .cb-content {
      padding: 20px;
      text-align: center;
      .icon {
        margin-bottom: 15px;
        @include transition(1s);
      }
      .desc {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
  }
}