@import "../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

//Plugins
@import "./src/js/plugins/waves/waves";

//Custom css

//Sidebar menu
.iconify {
  position: relative;
  top: -2px;
}
.navbar {
  .toggler {
    display: none;
    @include media-breakpoint-down(md) {
      display: inline-block;
    }
  }
}
.navbar-nav {
  .nav-item {
    @include transition();
    @include border-radius();
    @include media-breakpoint-down(sm) {
      border-top: 1px solid $gray-200;
    }
    &:hover {
      background-color: $gray-200;
    }
    .nav-link {
      color: $dark;
      @include media-breakpoint-down(md) {
        padding: 10px 15px;
      }
    }
    ul.dropdown-menu {
      border-radius: 0;
      padding: 0;
      margin: 0;
      right: 0;
      left: auto;
      @include box-shadow($box-shadow-sm);
    }
  }
  .active {

  }
  .dropdown {
    .dropdown-toggle {

    }
    ul.dropdown-menu {

    }
  }
}

@include media-breakpoint-down(md) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: $white;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}



// Optional css , can be removed if not required. below mentioned css is only used for user interface available for demo purpose.

.view-components {
  background-color: $white;
  padding: 50px 0;
  .component-box {
    margin-bottom: 30px;
    @include box-shadow($box-shadow-sm);
    @include transition();
    &:hover {
      @include box-shadow($box-shadow);
      .cb-content .bell {
        transform: rotateY(360deg);
      }
    }
    .cb-content {
      padding: 20px;
      text-align: center;
      .icon {
        margin-bottom: 15px;
        @include transition(1s);
      }
      .desc {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
  }
}